{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}

{% block body %}
    <h1>Create new Review</h1>

    {{ include('guestbook/_form.html.twig') }}

    <a href="{{ path('guestbook_index') }}">back to list</a>
{% endblock %}
